/* Add this to your existing CSS or create a new CSS file */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
.DetailContainer{
    width: 100%; /* Set the desired width of your container */
    height: 100vh; /* Set the desired height of your container */
    background-image: url('../img/bg.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.InnerContainer{
   background-color: antiquewhite;
   height: 60vh;
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   align-content: center;
   box-shadow: 10px 10px 10px;
   border-radius:5px 5px 250px 250px;

   button {
    background-color: #2d455e;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
  }
  h2{
    margin-top: -90px;
  }
  p{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Roboto',sans-serif;
    color: black;
    line-height: 1.5; /* Adjust the line height for better readability */
    font-family: 'Roboto' sans-serif;
  }
  button:hover {
    background-color:rgb(132, 37, 37)
  }

}
